  .mat-card-image{
    width: 182px;
    height: 268px;
    margin: auto;
    display: block;
  }
  .quebrar-linha{
    white-space: pre-line;
  }
  
  @media screen and (min-width: 525px) {
    .home-content {
      .home-card {
        width: calc(50% - 52px);
      }
    }
  }
  @media screen and (min-width: 800px) {
    .home-content {
      .home-card {
        width: calc(33.333% - 52px);
      }
    }
  }
  
  @media screen and (min-width: 1300px) {
      .home-content {
        .home-card {
          width: calc(25% - 52px);
        }
      }
    }
  